.modalStyle {
  position: fixed;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & .modal-content {
    background-color: white;
    border-radius: 16px;
    overflow: auto;
  }
}
