.Container-microfront {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
