.container__button {
  width: 100%;
  height: 62px;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  border-radius: 58px;
  border-style: solid;
  border-width: 0;
  background-color: var(--sky-blue);
  color: var(--primary-dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.45s ease-in-out;
  &:focus {
    outline: none;
    background-color: var(--primary-shade);
    border-color: var(--primary-shade);
    box-shadow: 0 0 0 8px var(--grayscale-line);
    border-width: 2px;
  }
  &:hover {
    outline: none;
    background-color: var(--primary-shade);
    border-color: var(--primary-shade);
    border-width: 2px;
  }
  &:disabled {
    cursor: no-drop;
    background-color: var(--grayscale-background);
    color: var(--grayscale-line);
    &:hover {
      border-color: var(--grayscale-background);
    }
  }
  & .loadingButton {
    margin: 5px;
    text-indent: -9999em;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: linear-gradient(to right, white 10%, rgba(255, 255, 255, 0) 70%);
    position: relative;
    animation-iteration-count: infinite;
    animation-duration: 1.4s;
    animation-timing-function: linear;
    animation-name: loadAnimation;
    transform: translateZ(0);
    @keyframes loadAnimation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    &::before {
      width: 50%;
      height: 50%;
      display: block;
      background: white;
      border-radius: 100% 0 0 0;
      position: absolute;
      top: 0;
      left: 0;
      content: ' ';
    }
    &::after {
      background: var(--brand-dark-blue);
      display: block;
      width: 75%;
      height: 75%;
      border-radius: 50%;
      content: ' ';
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
  &.link {
    background-color: transparent;
    color: var(--grayscale-body);
    text-decoration: underline;
    &:focus {
      outline: none;
      color: var(--brand-dark-blue);
      background-color: var(--grayscale-line);
      box-shadow: none;
      border-width: 0;
    }
    &:hover {
      outline: none;
      color: black;
      border-width: 0;
    }
    &:disabled {
      cursor: no-drop;
      color: var(--grayscale-placeholder);
    }
    & .loadingButton {
      text-indent: initial;
      background: transparent;
      animation-name: none;
      width: 100%;
      &::before,
      &::after {
        display: none;
      }
    }
  }
  &.default {
    background-color: transparent;
    color: var(brand-sky-blue);
    &:focus {
      outline: none;
      background-color: var(brand-sky-blue-focus);
      color: var(brand-sky-blue);
      box-shadow: none;
      border-width: 0;
    }
    &:hover {
      outline: none;
      color: var(brand-sky-blue-hover);
      border-width: 0;
    }
    &:disabled {
      cursor: no-drop;
      color: var(--grayscale-line);
    }
    & .loadingButton {
      text-indent: initial;
      background: transparent;
      animation-name: none;
      width: 100%;
      &::before {
        display: none;
      }
      &::after {
        display: none;
      }
    }
  }
  &.outlined {
    color: var(--brand-dark-blue);
    background-color: white;
    border: solid 1px var(--brand-dark-blue);
    border-radius: 28px;
    border-style: solid;
    border-width: 3px;
    line-height: normal;
    text-decoration: none;
  }
  &.filled {
    color: white;
    border: solid 1px var(--secondary-dark-blue); //Color Button
    background-color: var(--secondary-dark-blue);
    border-radius: 28px;
    border-style: solid;
    border-width: 3px;
    line-height: normal;
    text-decoration: none;
  }
}
