.step-by-step {
  background: #f2f7ff;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;

  &__container {
    background: rgba(0, 9, 39, 0.25);
    position: absolute;
    overflow-y: auto;
    z-index: 2;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

    .popup {
      flex-direction: column;
      position: absolute;
      display: flex;
      z-index: 4;
      right: 0;
      left: 0;
      top: 0;

      &__image {
        padding-top: 92px;
        text-align: right;
        margin: 16px 0;
        width: 264px;

        img {
          height: auto;
          width: 40px;
          margin: 0;
        }
      }

      &__content {
        margin: 0 16px;
        height: 564px;
      }

      @media screen and (min-width: 744px) and (max-width: 1439px) {
        flex-direction: row;

        &__image {
          padding-top: 84px;
          width: 288px;
          height: 56px;

          img {
            margin: 0 16px;
            height: auto;
            width: 56px;
          }
        }

        &__content {
          padding-top: 40px;
          margin: 0 0;
        }
      }

      @media screen and (min-width: 1440px) {
        flex-direction: row;

        &__image {
          padding-top: 292px;
          width: 296px;
          height: 56px;

          img {
            margin: 0 22px;
            height: auto;
            width: 56px;
          }
        }

        &__content {
          padding-top: 96px;
          margin: 0 0;
        }
      }
    }
  }
}
