:root {
  --sky-blue: #00ddf4;
  --grey-bg-menu: #e6e8e9;
  --grayscale-background: #f7f7fc;
  --white-background: #fff;
  --brand-dark-blue: #0c1b2b;
  --grayscale-label: #6e7191;
  --grayscale-body: #4e4b66;
  --grayscale-dark-1000: #19223d;
  --grayscale-placeholder: #a0a3bd;
  --grayscale-title: #14142b;
  --grayscale-nav: #fafaf8;
  --brand-sky-blue: #395cfb;
  --brand-sky-blue-hover: #21379a;
  --brand-sky-blue-focus: #d7defe;
  --grayscale-line: #d9dbe9;
  --brand-paradise-pink: #e73642;
  --brand-mikado-yellow: #fdc508;
  --grayscale-input-background: #eff0f6;
  --states-success: #53d86a;
  --states-error: #ff3434;
  --background-states-error: rgba(255, 52, 52, 0.1);
  --background-states-sucess: rgba(83, 216, 106, 0.1);
  --states-alert: #ffcb2f;
  --circle-pink: #e73743;
  --primary-default: #e73642;
  --secondary-default: #2cbad8;
  --secondary-light: #e2f8fd;
  --primary-dark: #000927;
  --primary-dark-600: #4a546a;
  --secondary-dark: #0c9fc3;
  --primary-slate: #34303d;
  --disabled: #bdbdbd;
  --on-background: #8e8e8c;
  --header-text: #20304f;
  --color-03-on-primary-a-high-emphasis: #000;
  --color-00-on-surface-2-dark-b-medium-emphasis: rgba(255, 255, 255, 0.6);
  --color-00-on-surface-1-light-b-medium-emphasis: rgba(0, 0, 0, 0.6);
  --color-01-primary-a-2-200-primary-a-high-emphasis: #bb86fc;
  --color-01-primary-a-1-500-primary-a-high-emphasis: #6200ee;
  /* GOU */
  --secondary-light-300: #e5e5e5;
  --primary-dark-blue: #000927;
  --secondary-dark-blue: #001c4f;
  --primary-light: #00ddf4;
  --gou-light-sky-blue: #b3f7ff;
  --secondary-purple: #9d14f3;
  --gou-grayscale-light-100: #f2f7ff;
  --gou-grayscale-white: #fff;
  --gou-complementary-product: #00f6b4;
  --gou-grayscale-dark-800: #313b54;
  --gou-grayscale-background: #f7f7fc;
  --gou-grayscale-light-400: #adb8cd;
}
