.popup-step {
  padding: 6px 24px 12px 24px;
  display: flex;

  .step-active {
    border: solid 1px var(--gou-grayscale-background);
    background-color: var(--gou-grayscale-background);
    border-radius: 1.5px;
    margin: 0 8px 0 0;
    cursor: pointer;
    width: 28px;
    height: 5px;
  }

  .step-inactive {
    border: solid 1px var(--gou-grayscale-background);
    background-color: transparent;
    border-radius: 1.5px;
    margin: 0 8px 0 0;
    cursor: pointer;
    width: 11px;
    height: 5px;
  }

  @media screen and (min-width: 744px) {
    padding: 20px 24px 16px 24px;
  }
}
