@import '../../../../styles/tools/base-breakpoints.scss';
// sass-lint:disable-all
.container__navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  z-index: 20;
  background-color: var(--primary-dark-blue);
  &-button {
    margin-inline-end: 32px;
  }
  // &--non-transparent {
  //   background-color: var(--gou-grayscale-light-100);
  // }
  @media only screen and (min-width: 992px) {
    padding: 0.469rem 0;
  }
  @media only screen and (max-width: 870px) {
    & .menu-toggle-image {
      // color: white !important;;
      margin-left: 19px !important;
    }
    & .logo-container {
      // padding-left: 19px !important;
      & .logo {
        margin-top: -22px !important;
        // width: 236px;
        // height: 144px;
        // display: block;
        &--short-dark {
          display: none;
        }
        &--short-white {
          display: block !important;
          position: absolute;
          top: 2.75rem;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    &-button {
      display: none;
    }
    .pattern-menu {
      display: block !important;
    }
  }
  & .cont {
    width: 100%;
    min-height: 81px;
    display: flex;
    flex-direction: row;
    max-width: 1380px;
    justify-content: space-between;
    align-items: center;
    &.menu-open {
      &::after {
        content: '';
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 9, 39, 0.2);
        backdrop-filter: blur(4px);
        z-index: -1;
      }
    }
    & .logo-container {
      display: flex;
      align-items: center;
      margin-left: 20px;
      & .toggle-menu {
        @include media(for-large-desktop) {
          display: none;
        }
        @include media(for-cellphone-only, for-tablet-only, for-medium-desktop) {
          display: block;
          margin-right: 53px;
          @media only screen and (min-width: 992px) {
            margin-right: 16px;
          }
        }
      }
      & .logo {
        margin-top: 0px;
        &--long {
          display: none;
        }
        &--short-white {
          display: none;
        }
      }
      & .menu-toggle-image {
        color: var(--gou-grayscale-white);
        margin-left: 57px;
      }
      @include media(for-large-desktop) {
        gap: 0px;
        & .menu-toggle-image {
          display: none;
        }
        & .logo {
          display: none;
          &--long {
            display: block;
            width: 175px;
            height: 72px;
          }
        }
      }
      & .pattern-menu {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        & img {
          object-fit: cover;
          height: inherit;
        }
      }
    }
    & .menu-container {
      width: 100%;
      min-height: 81px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 26px;
      @include media(for-cellphone-only, for-tablet-only, for-medium-desktop) {
        display: none;
      }
      & .contBtn {
        & .btnMenu {
          position: relative;
          width: 100%;
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--gou-grayscale-white);
          font-size: 15px;
          font-weight: 500;
          font-style: normal;
          line-height: 22px;
          cursor: pointer;
          transition: all 0.45s ease-in-out;
          &:hover {
            color: var(--sky-blue);
          }
          @media only screen and (min-width: 1200px) {
            font-size: 18px;
          }
        }
        & .active {
          color: var(--sky-blue);
          transform: translateY(-6px);
          transition: all 0.45s ease-in-out;
          &::before {
            content: '';
            position: absolute;
            bottom: -1rem;
            left: 50%;
            height: 12px;
            width: 12px;
            transform: translateX(-50%);
            background-color: var(--sky-blue);
            transition: all 0.45s ease-in-out;
          }
        }
      }
    }
    & .option-container {
      display: flex;
      // flex-direction: row;
      padding-left: 16px;
      padding-right: 16px;
      & .container__navbar-button {
        width: 148px;
        height: 56px;
        margin-inline-end: 0px;
        background-color: var(--primary-light);
        color: var(--primary-dark-blue);
        &.outlined {
          background-color: transparent;
          color: var(--gou-grayscale-white);
          border-color: var(--gou-grayscale-white);
          border-width: 1px;
        }
        &.user_aval {
          width: 175px;
        }
        &:not(:last-child) {
          width: 170px;
          margin-inline-end: 25px;
          @media only screen and (min-width: 992px) {
            width: 148px;
            margin-inline-end: 24px;
          }
          @media only screen and (min-width: 1200px) {
            width: 170px;
            margin-inline-end: 32px;
          }
        }
        @media only screen and (min-width: 992px) {
          height: 50px;
        }
        @media only screen and (min-width: 1200px) {
          height: 56px;
        }
      }
      & .contBtn {
        & .btnMenu {
          padding: 17px 26px 17px 27px;
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--brand-dark-blue);
          background-color: white;
          border-radius: 28px;
          border-style: solid;
          border-width: 0;
          font-size: 18px;
          font-stretch: normal;
          font-style: normal;
          cursor: pointer;
          font-weight: bold;
          line-height: normal;
          overflow: hidden;
        }
        @media only screen and (max-width: 992px) {
          & .btnMenu {
            display: none;
          }
        }
      }
    }
    & .hamburguer-menu-container {
      width: 100%;
      height: 100vh;
      position: absolute;
      opacity: 1;
      transition: opacity 0.5s, visibility 0.5s;
      top: 0;
      z-index: 30;
      border-radius: 0px 0px 24px 24px;
      @media only screen and (min-width: 769px) {
        display: block;
        height: 100vh;
        width: 60%;
        border-radius: 0px 24px 24px 0px;
      }
      & div {
        height: 100%;
        border-radius: inherit;
        & .hambuguer-menu {
          display: grid;
          grid-template-rows: 10vh 2vh 88vh;
          font-stretch: normal;
          font-style: normal;
          overflow: auto;
          line-height: normal;
          letter-spacing: normal;
          width: 100%;
          height: 100%;
          background-color: var(--gou-grayscale-white);
          padding-left: 24px;
          padding-right: 24px;
          & .close-hamburguer-menu-img {
            color: #4a546a;
            right: 16;
            top: 19;
          }
          & div {
            height: auto;
          }
          & .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 12px;
            margin-top: 12px;
          }
          & .nav-hr {
            height: 3px;
            opacity: 50%;
            background-color: var(--grayscale-line);
            margin-bottom: 32px;
          }
          & .menu-container-mobile {
            display: grid;
            & .menu-item {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              margin-bottom: 56px;
              text-decoration: none;
              color: #4a546a;
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
              line-height: 32px;
              & .menu-item-image {
                margin-right: 16px;
                color: white;
              }
              & .menu-item-title {
                font-weight: 500;
                font-size: 24px;
                line-height: 32px;
                margin-right: auto;
                margin-left: 20px;
              }
              & span {
                display: none;
                font-size: 21px;
                color: var(--brand-dark-blue);
              }
              &.menu-final-item {
                margin-bottom: 72px;
              }
              &.active {
                & .menu-item-image {
                  filter: invert(24%) sepia(84%) saturate(5973%) hue-rotate(273deg) brightness(91%) contrast(114%);
                }
                & .menu-item-title {
                  color: var(--secondary-purple);
                }
                & span {
                  display: inherit;
                }
              }
            }
            & .nav-hr {
              // margin-bottom: 32px;
            }
            & .item-p2 {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 32px;
              & .contBtn {
                width: 95%;
                &:last-child {
                  margin-bottom: 2rem;
                }
                & .outlined {
                  color: var(--primary-dark-blue);
                  border-width: 1px;
                }
                & .filled {
                  color: var(--primary-dark-blue);
                  background-color: var(--primary-light);
                  border: unset;
                }
              }
              // @media only screen and (max-width: 1341px) {
              //   width: 70%;
              // }
            }

            & .menu-options-mobile {
              overflow: auto;
            }
          }
        }
      }
    }
    @media only screen and (min-width: 992px) {
      & .hamburguer-menu-container {
        opacity: 0;
        transition: opacity 0.5s, visibility 0.5s;
        z-index: -1;
      }
    }
  }
}
