.popup-header {
  text-align: center;
  margin: 0 auto;
  padding: 0;

  img {
    height: 164px;
    width: auto;
  }

  @media screen and (min-width: 744px) {
    padding: 28px 0;

    img {
      height: 243px;
    }
  }
}
